body {
  /* margin: 0; */
  min-height: 100vh;
  background: #a5d6a7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  min-height: 600px;
  border: 10px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 60px;
  font-family: "Barriecito", cursive;
  padding: 20px 0;
}
.input-wrapper {
  display: flex;
  align-items: center;
}
#input-list {
  width: 320px;
  height: 35px;
  margin-left: 15px;
  padding: 0 20px;
  border-radius: 15px;
  font-size: 20px;
  outline: none;
  border: 2px solid black;
}
.btn-plus-list {
  background-image: url(images/add.png);
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 45px;
  height: 45px;
  margin: 0 8px;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
}

.list-item {
  list-style: none;
  padding: 0;
  width: 450px;
  margin-top: 16px;
}

.list-item li {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.check-box {
  width: 40px;
  height: 40px;
  margin: 0 16px;
  cursor: pointer;
}

.star {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}
.trash-can {
  width: 32px;
  height: 35px;
  padding: 6px 8px 1px;
  cursor: pointer;
}
p {
  flex: 1;
  font-size: 25px;
  font-family: "Jua", sans-serif;
  min-width: 270px;
  border-bottom: 3px solid black;
  margin: 0;
  padding: 0;
}
