header {
  display: flex;
  align-items: center;
}

header img {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.number-list {
  display: flex;
  list-style: none;
  padding: 10px;
  border: 3px dotted rgba(0, 0, 0, 0.671);
  border-radius: 30px;
  width: 530px;
  background: beige;
}
.lotto-number {
  margin-right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid;
}

.lotto-number.yello {
  background: rgba(255, 255, 0, 0.349);
}
/* .lotto-number .yello이렇게 공백을 주고 쓰면 하위선택자(자손선택자)로 인식함*/

.lotto-number.blue {
  background: skyblue;
}

.lotto-number.red {
  background: rgba(255, 0, 0, 0.473);
}

.lotto-number.gray {
  background: #ccc;
}
.lotto-number.green {
  background: rgba(0, 128, 0, 0.479);
}

#bttn {
  border-radius: 20px;
  font-size: 15px;
}
